@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box ;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    height: 10vh;
    width: 100%;
    box-shadow: 0px 10px 8px #b9b8b8;
    background-color: white;
}

.logo img{
    width: 200px;
}

.middle ul{
    display: none;
    /* justify-content: space-between;
    list-style: none;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600; */
}

@media  screen and (min-width : 768px) {
    .middle ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin-top: 30px;
        font-size: 20px;
        font-weight: 600;
    }
}
.middle ul li{
    margin-right: 20px;
}

.sidepart{
    margin-top: 25px;
}

.sidepart select{
    background-color: rgb(106, 221, 221);
    border-radius: 5px;
    border: 2px solid black;
    font-size: 18px;
}

@media (max-width:786px){
    .sidepart select {
        margin-top: 10px;
        font-size: 12px;
    }

    .logo img{
        width: 180px;
    }

    .navbar{
        height: 8vh;
    }
}

@media (max-width:540px){
    .navbar{
        height: 10vh;
    }
}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    margin-top: 30px;
}

.hero img{
    width: 500px;
    /* border: 2px solid black; */
}

.hero h1{
    font-family: 'Anton', sans-serif;
    font-family: 'Poppins', sans-serif;
    /* font-weight:bold; */
    font-size: 70px;
}

.hero h3{
    font-size: 35px;
    margin-bottom: 20px;
}

.hero button{
    height: 50px;
    width: 150px;
    font-size: 20px;
    background-color: rgb(106, 221, 221);
    border-radius: 7px;
    margin-left: 7px;
}

@media (max-width:786px){
    .hero{
        display: flex;
        flex-direction: column;
    }
    .hero img{
        width: 350px;
        margin-top: 15px;
        /* border: 2px solid black; */
    }
    .hero h1{
        font-size: 50px;
        margin-left: 10px;
    }

    .hero h3{
        font-size: 25px;
        margin-left: 10px;
    }

    .hero button {
        height: 30px;
        width: 100px;
        font-size: 15px;
    }
}

.linebar{
    width: 85vw;
    background-color: gray;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.high{
    margin-top: 25px;
}

.head-text p{
    margin-top: 35px;
    font-size: 1.8rem;
    /* line-height: 1.75rem; */
    font-weight:bold;
    color:#9900FF ;
    text-align: center;
    
}

.paratext p{
    font-size: 2.5rem;
    font-weight:900;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 30px;
}

.grid-item{
    width: 250px;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: 0.2s ease-in-out;
}

.grid-item:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}


.grid-item img{
    width: 100%;
    height: auto;
    border-top: 2px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 80px;
    column-gap: 80px;
}

.card-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(236, 234, 234);
    padding-bottom: 20px;
}
.barlogo h3{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    /* font-size: 30px; */
    margin-top: 0.5rem;
}

.barlogo p{
    text-align: center;
    font-weight: 200;
    color: gray;
    padding: 0.5rem;
}


.title-head{
    margin-top: 90px;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.title-para{
    text-align: center;
    font-size: 1.3rem;
    color: gray;
    margin: 0 auto;
    width: 40%;
}

.social-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-box img{
    margin-top: 110px;
    margin: 50px;
    width: 90px;
}

.footer-most-outer{
    width: 100%;
    background-color: aqua; 
    padding: 40px;
}
.footer-outer{
    /* width: 100%;
    background-color: aqua; */
    /* height: 20vh; */
    display: flex;
    justify-content: space-around;
    /* padding: 40px; */
}

.left-img img{
    width: 10rem;
    color: black;
}
.left-para{
    padding: 10px;
}

.middle-list li{
    margin-top: 10px;
    list-style: none;
}
.right-head{
    font-weight: 900;
    margin-bottom:20 px;
}
.foot-line{
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background-color: gray;
    margin: 20px;
}

.last-copy{
    text-align: center;
}